[Unit]
Description=cfssl service
[Service]
WorkingDirectory=/etc/cfssl
ExecStartPre=/opt/bin/cfssl-init-ca
ExecStart=/opt/bin/cfssl serve \
    -address=0.0.0.0 \
    -port=8888 \
    -config=config.json \
    -ca=ca.pem \
    -ca-key=ca-key.pem
Restart=on-failure
RestartSec=10
[Install]
WantedBy=multi-user.target
