[Unit]
Description=Serve the kube signing key with nginx
Requires=docker.socket cfssl.service
After=docker.socket cfssl.service
[Service]
ExecStartPre=-/bin/sh -c 'docker kill "$(docker ps -q --filter=name=%p_)"'
ExecStartPre=-/bin/sh -c 'docker rm "$(docker ps -q --filter=name=%p_)"'
ExecStart=/bin/sh -c "\
    /usr/bin/docker run --rm \
      --name %p_$(uuidgen) \
      -v /var/lib/cfssl/sk-key.pem:/data/sk-key.pem \
      -v /var/lib/cfssl/proxy-ca.pem:/data/proxy-ca.pem \
      -v /var/lib/cfssl/proxy.pem:/data/proxy.pem \
      -v /var/lib/cfssl/proxy-key.pem:/data/proxy-key.pem \
      -v /etc/cfssl/sk-nginx.conf:/etc/nginx/nginx.conf \
      -v /etc/cfssl/sk-nginx.htpasswd:/etc/nginx/nginx.htpasswd \
      -p 8889:8889 \
      ${nginx_image_url}:${nginx_image_tag}"
ExecStop=-/bin/sh -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p_)"'
Restart=on-failure
RestartSec=60
[Install]
WantedBy=multi-user.target
