[Unit]
Description=Fetch kubernetes signing key
After=network-online.target
Requires=network-online.target
[Service]
ExecStart=/usr/bin/curl -Ls -o ${path}/signing-key.pem \
    -H 'Authorization: Basic ${auth}' \
    http://${cfssl_server_address}:8889/signing-key
ExecStartPost=/usr/bin/chmod 0600 ${path}/signing-key.pem
RemainAfterExit=yes
RestartSec=10s
Type=oneshot
