[Unit]
Description=Mount device ${volumeid} to ${mountpoint}
Requires=${disk-formatter}
After=${disk-formatter}
[Mount]
What=/dev/disk/by-id/nvme-Amazon_Elastic_Block_Store_${volumeid}
Where=${mountpoint}
Type=${filesystem}
