[Unit]
Description=Format device with volume-id: ${volumeid}, if it has no filesystem
After=/dev/disk/by-id/nvme-Amazon_Elastic_Block_Store_${volumeid}
Requires=/dev/disk/by-id/nvme-Amazon_Elastic_Block_Store_${volumeid}
[Service]
Type=oneshot
RemainAfterExit=yes
Environment=DEVICE=/dev/disk/by-id/nvme-Amazon_Elastic_Block_Store_${volumeid}
ExecStart=/bin/sh -c "fsck -a $${DEVICE} || (mkfs.${filesystem} $${DEVICE} && mount $${DEVICE} /mnt && chown -R ${user}:${group} /mnt && umount /mnt)"
