# Replacing /usr/lib/systemd/system/etcd-member.service

[Unit]
Description=etcd (System Application Container)
Documentation=https://github.com/coreos/etcd
Wants=network-online.target network.target
Requires=disk-mounter.service cert-fetch.service
After=network-online.target disk-mounter.service cert-fetch.service
Conflicts=etcd.service
Conflicts=etcd2.service

[Service]
Type=notify
Restart=on-failure
RestartSec=10s
TimeoutStartSec=0
LimitNOFILE=40000

Environment="ETCD_DATA_DIR=/var/lib/etcd"
Environment="ETCD_NAME=member${index}"
Environment="ETCD_INITIAL_CLUSTER=${etcd_initial_cluster}"
Environment="ETCD_LISTEN_PEER_URLS=https://${private_ipv4}:2380"
Environment="ETCD_LISTEN_CLIENT_URLS=https://0.0.0.0:2379"
Environment="ETCD_LISTEN_METRICS_URLS=http://0.0.0.0:9378"
Environment="ETCD_ADVERTISE_CLIENT_URLS=https://${private_ipv4}:2379"
Environment="ETCD_INITIAL_ADVERTISE_PEER_URLS=https://${private_ipv4}:2380"
Environment="ETCD_CLIENT_CERT_AUTH=true"
Environment="ETCD_TRUSTED_CA_FILE=/etc/etcd/ssl/ca.pem"
Environment="ETCD_CERT_FILE=/etc/etcd/ssl/node.pem"
Environment="ETCD_KEY_FILE=/etc/etcd/ssl/node-key.pem"
Environment="ETCD_PEER_CLIENT_CERT_AUTH=true"
Environment="ETCD_PEER_TRUSTED_CA_FILE=/etc/etcd/ssl/ca.pem"
Environment="ETCD_PEER_CERT_FILE=/etc/etcd/ssl/node.pem"
Environment="ETCD_PEER_KEY_FILE=/etc/etcd/ssl/node-key.pem"

ExecStartPre=-/bin/sh -c " \
  test ! -f /opt/bin/etcd && \
  test -f /opt/bin/etcd.tar.gz && \
  mkdir -p /tmp/etcd && \
  tar xzf /opt/bin/etcd.tar.gz -C /tmp/etcd --strip-components=1 && \
  mv /tmp/etcd/etcd /opt/bin/etcd && \
  mv /tmp/etcd/etcdctl /opt/bin/etcdctl && \
  rm -rf /tmp/etcd"

ExecStart=/opt/bin/etcd

[Install]
WantedBy=multi-user.target
