[Unit]
Description=Run etcd-defrag.service periodically

[Timer]
OnCalendar=${on_calendar}
RandomizedDelaySec=60min

[Install]
WantedBy=timers.target
