[Unit]
Description=Fetches kubelet binary
Wants=network-online.target
[Service]
Type=oneshot
RemainAfterExit=yes
# oneshot systemd services do not support `Restart`
# https://github.com/systemd/systemd/issues/2582
ExecStart=/bin/sh -c 'while ! ${fetch_script_path}; do sleep 1; done'
[Install]
WantedBy=multi-user.target
