[Unit]
Description=Format device with volume-id: ${volumeid}, if it has no filesystem
[Service]
Type=oneshot
RemainAfterExit=yes
Environment=DEVICE=/dev/disk/by-id/google-${volumeid}
ExecStartPre=/bin/sh -c "until [ -e $${DEVICE} ]; do sleep 8; done"
ExecStart=/bin/sh -c "fsck -a $${DEVICE} || (mkfs.${filesystem} $${DEVICE} && mount $${DEVICE} /mnt && chown -R ${user}:${group} /mnt && umount /mnt)"
