[Unit]
Description=Hector test
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/mkdir -p /etc/prom-hector
ExecStart=mount -t tmpfs -o size=10M,nr_inodes=1k,mode=755 tmpfs /etc/prom-hector
[Install]
WantedBy=multi-user.target
