[Unit]
Description=Kubernetes Kubelet
Requires=docker.service
After=docker.service cert-refresh.service
[Service]
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
ExecStartPre=/usr/bin/mkdir -p /var/log/containers
ExecStartPre=/usr/bin/mkdir -p /opt/cni/bin
ExecStartPre=/usr/bin/mkdir -p /var/lib/cni
ExecStartPre=/usr/bin/mkdir -p /etc/cni/net.d
ExecStartPre=/usr/bin/mkdir -p /var/run/calico
ExecStartPre=/usr/bin/mkdir -p /var/lib/calico
# This is a partial workaround to this upstream Kubernetes issue:
#  https://github.com/kubernetes/kubernetes/issues/41916#issuecomment-312428731
ExecStartPre=/sbin/sysctl -w net.ipv4.tcp_retries2=8
# This is a temporal workaround this upstream Kubernetes issue:
#  https://github.com/kubernetes/kubernetes/issues/69015
ExecStartPre=/sbin/sysctl -w fs.inotify.max_user_watches=524288
ExecStart=${kubelet_binary_path} \
  --config=/etc/kubernetes/config/master-kubelet-conf.yaml \
  --kubeconfig=/var/lib/kubelet/kubeconfig \
  --node-labels=role=master \
  --register-with-taints=node-role.kubernetes.io/master=:NoSchedule \
  --container-runtime=docker \
  --network-plugin=cni \
  --cni-bin-dir=/opt/cni/bin \
  --cni-conf-dir=/etc/cni/net.d \
  ${cloud_provider == "" ? "" : "--cloud-provider=${cloud_provider}"} \
  --lock-file=/var/run/lock/kubelet.lock \
  --tls-cert-file=/etc/kubernetes/ssl/kubelet.pem \
  --tls-private-key-file=/etc/kubernetes/ssl/kubelet-key.pem \
  --exit-on-lock-contention \
  --v=0
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
