[Unit]
Description=Prometheus node_exporter
Requires=docker.socket
After=docker.socket
[Service]
ExecStartPre=-/bin/sh -c 'docker kill "$(docker ps -q --filter=name=%p_)"'
ExecStartPre=-/bin/sh -c 'docker rm "$(docker ps -q --filter=name=%p_)"'
ExecStartPre=-/usr/bin/mkdir -p /etc/prom-text-collectors
ExecStart=/bin/sh -c "\
    /usr/bin/docker run --rm \
      --name %p_$(uuidgen) \
      -p 9100:9100 \
      --net=host \
      --pid=host \
      -v /:/host:ro,rslave \
      ${node_exporter_image_url}:${node_exporter_image_tag} \
        --path.rootfs /host \
        --collector.textfile.directory=/host/etc/prom-text-collectors"
ExecStop=-/bin/sh -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p_)"'
Restart=on-failure
RestartSec=60
[Install]
WantedBy=multi-user.target
