[Unit]
Description=Kubernetes Kubelet
Requires=containerd.service
After=containerd.service
[Service]
EnvironmentFile=-/etc/kubernetes/config/kubeletenv
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/config
ExecStartPre=/usr/bin/truncate -s0 /etc/kubernetes/config/kubeletenv
ExecStartPre=/bin/sh -c 'echo "NODE_HOSTNAME=$(${get_hostname})" >> /etc/kubernetes/config/kubeletenv'
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
ExecStartPre=/usr/bin/mkdir -p /var/log/containers
ExecStartPre=/usr/bin/mkdir -p /opt/cni/bin
ExecStartPre=/usr/bin/mkdir -p /var/lib/cni
ExecStartPre=/usr/bin/mkdir -p /etc/cni/net.d
ExecStartPre=/usr/bin/mkdir -p /var/run/calico
ExecStartPre=/usr/bin/mkdir -p /var/lib/calico
# args below `--v=0` are deprecated
ExecStart=${kubelet_binary_path} \
  --config=/etc/kubernetes/config/node-kubelet-conf.yaml \
  --container-runtime-endpoint=unix:///run/containerd/containerd.sock \
  --container-runtime=remote \
  --exit-on-lock-contention \
  --hostname-override="$${NODE_HOSTNAME}" \
  --kubeconfig=/var/lib/kubelet/kubeconfig \
  --lock-file=/var/run/lock/kubelet.lock \
  --node-labels=${labels} \
%{ if taints != "" }  --register-with-taints=${taints} \
%{ endif ~}
  --v=0 \
%{ if cloud_provider != "" }  --cloud-provider=${cloud_provider} \
%{ endif ~}
  --cni-bin-dir=/opt/cni/bin \
  --cni-conf-dir=/etc/cni/net.d \
  --network-plugin=cni
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
