[Unit]
Description=Kubernetes Kubelet
Requires=containerd.service
After=containerd.service
[Service]
EnvironmentFile=-/etc/kubernetes/config/kubeletenv
Environment=LABELS=${labels}
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/config
ExecStartPre=/usr/bin/truncate -s0 /etc/kubernetes/config/kubeletenv
ExecStartPre=/bin/sh -c 'echo "NODE_HOSTNAME=$(${get_hostname})" >> /etc/kubernetes/config/kubeletenv'
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
ExecStartPre=/usr/bin/mkdir -p /var/log/containers
ExecStartPre=/usr/bin/mkdir -p /opt/cni/bin
ExecStartPre=/usr/bin/mkdir -p /var/lib/cni
ExecStartPre=/usr/bin/mkdir -p /etc/cni/net.d
ExecStartPre=/usr/bin/mkdir -p /var/run/calico
ExecStartPre=/usr/bin/mkdir -p /var/lib/calico
# --cloud-provider flag is required. the deprecation warning is misleading
# https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller
ExecStart=${kubelet_binary_path} \
  ${cloud_provider == "" ? "" : "--cloud-provider=${cloud_provider}"} \
  --config=/etc/kubernetes/config/node-kubelet-conf.yaml \
  --exit-on-lock-contention \
  --hostname-override="$${NODE_HOSTNAME}" \
  --kubeconfig=/var/lib/kubelet/kubeconfig \
  --lock-file=/var/run/lock/kubelet.lock \
  --node-labels="$${LABELS}" \
  --v=0
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
