# https://github.com/openshift/installer/blob/master/modules/ignition/resources/services/kubelet.service
[Unit]
Description=Kubernetes Kubelet
Requires=docker.service
After=docker.service
[Service]
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
ExecStartPre=/usr/bin/mkdir -p /var/log/containers
ExecStartPre=/usr/bin/mkdir -p /opt/cni/bin
ExecStartPre=/usr/bin/mkdir -p /var/lib/cni
ExecStartPre=/usr/bin/mkdir -p /etc/cni/net.d
ExecStartPre=/usr/bin/mkdir -p /var/run/calico
ExecStartPre=/usr/bin/mkdir -p /var/lib/calico
# This is a partial workaround to this upstream Kubernetes issue:
#  https://github.com/kubernetes/kubernetes/issues/41916#issuecomment-312428731
ExecStartPre=/sbin/sysctl -w net.ipv4.tcp_retries2=8
# This is a temporal workaround this upstream Kubernetes issue:
#  https://github.com/kubernetes/kubernetes/issues/69015
ExecStartPre=/sbin/sysctl -w fs.inotify.max_user_watches=524288
ExecStartPre=/opt/bin/cfssl-new-cert
ExecStart=/usr/bin/docker \
  run \
    --rm \
    --net host \
    --pid host \
    --privileged \
    --volume /dev:/dev:rw \
    --volume /sys:/sys:ro \
    --volume /var/run:/var/run:rw \
    --volume /var/lib/cni/:/var/lib/cni:rw \
    --volume /var/lib/docker/:/var/lib/docker:rw \
    --volume /var/lib/kubelet/:/var/lib/kubelet:shared \
    --volume /var/log:/var/log:shared \
    --volume /etc/kubernetes:/etc/kubernetes:ro \
    --volume /etc/cni/net.d:/etc/cni/net.d:rw \
    --volume /etc/resolv.conf:/etc/resolv.conf:ro \
    --volume /opt/cni/bin:/opt/cni/bin:rw \
    --volume /var/run/calico:/var/run/calico:rw \
    --volume /var/lib/calico:/var/lib/calico:rw \
    --volume /usr/sbin/modprobe:/usr/sbin/modprobe:rw \
    --volume /lib/modules:/lib/modules:rw \
    --entrypoint /usr/local/bin/kubelet \
  "${kubelet_image_url}:${kubelet_image_tag}" \
    --allow-privileged \
    ${cloud_provider == "" ? "" : "--cloud-provider=${cloud_provider}"} \
    --cni-bin-dir=/opt/cni/bin \
    --cni-conf-dir=/etc/cni/net.d \
    --config=/etc/kubernetes/config/worker-kubelet-conf.yaml \
    --container-runtime=docker \
    --exit-on-lock-contention \
    --kubeconfig=/var/lib/kubelet/kubeconfig \
    --network-plugin=cni \
    --node-labels=role=${role} \
    ${taints == "" ? "" : "--register-with-taints=${taints}"} \
    --lock-file=/var/run/lock/kubelet.lock \
    --v=0
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
