[Unit]
Description=Fluentd
Requires=docker.socket
After=docker.socket
[Service]
ExecStartPre=-/usr/bin/docker kill "$(docker ps -q --filter=name=%p_)"
ExecStartPre=-/usr/bin/docker rm "$(docker ps -q --filter=name=%p_)"
ExecStartPre=-/usr/bin/mkdir -p /etc/td-agent
ExecStart=/bin/sh -c "\
    /usr/bin/docker run --rm \
      --name %p_$(uuidgen) \
      -v /etc/td-agent:/etc/td-agent \
      -v /var/log:/var/log \
      -e SUMOLOGIC_URL='${sumologic_url}' \
      ${fluentd_image_url}:${fluentd_image_tag}"
ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p_)"'
Restart=on-failure
RestartSec=60
[Install]
WantedBy=multi-user.target
